<ng-container *ngIf="question">
    <div class="card mx-auto h-70">
        <div class="card-body" *ngIf="this.mode == 'game'">
            <div class="row">
                <div class="col">
                    <h5 class="card-title font-weight-normal mb-4">
                        {{question.question}} 
                    </h5>
                </div>
                
                <div class="col-auto"> 
                    {{question.difficulty}}
                </div> 
            </div>
            
            <div class="form-row">
                <div *ngFor="let answer of question.answers; let rowIndex=index">
                    <label class="form-check-label d-block paginationCursor" for="radiobutton-{{rowIndex}}">
                        <div class="alert alert-secondary my-1" >
                            <div class="form-check">
                                <input name="test" class="form-check-input" id="radiobutton-{{rowIndex}}" type="radio" (change)="selectAnswer(answer)">
                                {{answer.text}}
                            </div> 
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="card-body" *ngIf="this.mode == 'evaluation'">
            <ng-container *ngIf="question.result; else incorrectTemplate">
                <div class="row">
                    <div class="col"></div>

                    <div class="col-auto">
                        <img class="img-responsive" height="200px" src="assets/lol.png" alt="Richtige Antwort">
                    </div>

                    <div class="col"></div>
                </div>
                
                <div class="row text-center">
                    <h2 class="mt-3">
                        Super, gut gemacht!
                    </h2>
                    
                    <p>
                        Du hast {{question.acquiredPoints}} von {{question.points}} Punkten erreicht.
                    </p>
                </div>
            </ng-container>
            
            <ng-template #incorrectTemplate>
                <div class="row">
                    <div class="col"></div>

                    <div class="col-auto">
                        <img class="img-responsive" height="200px"  src="assets/sad.png" alt="Falsche Antwort">
                    </div>

                    <div class="col"></div>
                </div>

                <div class="row text-center">
                    <h2 class="mt-3">
                        Leider nicht ganz richtig!
                    </h2>
                    
                    <p>
                        Du hast {{question.acquiredPoints}} von {{question.points}} Punkten erreicht.
                    </p>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col"></div>
        
        <div class="col-auto">
            <button *ngIf="this.mode == 'game'" type="button" [attr.disabled]="!selectedAnswer ? '' : null" class="btn btn-primary" (click)="evaluate()"> 
                Submit
            </button>

            <button *ngIf="this.mode == 'evaluation'" type="button" class="btn btn-primary" (click)="next()"> 
                Weiter
            </button>
        </div>
    </div>
</ng-container>