<h6>SPIELEN</h6>
  <div class="form-group mt-3">
    <label>Wähle eine Kategorie</label>
    <div class="input-group">
      <select class="form-select" #selectCategory (change)="changeCategory(selectCategory.value)">
        <option [(selected)]="!selectedCategory" disabled> 
          Kategorie wählen
        </option>
        
        <option *ngFor="let category of categories" [value]="category"> 
          {{category}} 
        </option>
      </select>
    </div>
  </div>

  <div class="form-group mt-3">
    <label> Wähle eine Schwierigkeit </label>

    <div class="input-group">
      <select class="form-select" #selectDifficulty (change)="changeDifficulty(selectDifficulty.value)">
        <option [(selected)]="!selectedDifficulty" disabled> 
          Schwierigkeit wählen
        </option>
        
        <option *ngFor="let difficulty of difficulties" [value]="difficulty"> 
          {{difficulty}} 
        </option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3" [disabled]="!selectedCategory || !selectedDifficulty"  (click)="generateQuiz()">Generiere Quiz</button>
