<ng-container *ngIf="quiz">
    <div class="row" *ngIf="mode == 'game'">
        <div class="row bg-light mb-3">
            <div class="col">
                <h5>
                    Frage {{this.counter + 1}} / 10
                </h5>
            </div>
            
            <div class="col-auto">
                <h5>
                    Punkte {{this.quiz.acquiredPoints}} / {{this.quiz.totalPoints}}
                </h5>
            </div>
        </div>
        
        <div class="row mb-3">
            <app-question [quizId]="quiz.id" (updatePointsEvent)="updatePoints($event)" (nextQuestionEvent)="next()"></app-question>
        </div>
    </div>
    
    <div *ngIf="mode == 'finished'" class="card">
        <div class="card-header text-center">
            <h4> GRATULIERE DU HAST ALLE FRAGEN BEANTWORTET  </h4>
        </div>
        
        <div class="card-body">            
            <div class="row text-center mb-3">
                <div class="col">
                    <h5>
                       Du hast {{this.quiz.acquiredPoints}} von {{this.quiz.totalPoints}} Punkten erreicht. 
                    </h5>
                </div>
                
                <div class="col-auto"></div>
            </div>
        </div>
        
        <div class="card-footer">
            <div class="row">
            <div class="col-auto"></div>
            
            <div class="col"></div>
            
            <div class="col-auto">
                <a routerLink="/" class="btn btn-primary"> 
                    Zurück 
                </a>
            </div>
        </div>
    </div>
</div>
</ng-container>

