<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/">
    <img width="40" alt="Logo" src="assets/home-run.svg" />
  </a>
  
  <span>Quiz Applikation von Elias und Rahel</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom justify-content-end">
   <small class="d-inline">
		<a class="d-inline" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img class="d-inline" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
		</a>
		All Questions are provided by 
		<a class="d-inline" href="https://opentdb.com/"> 
			open trivia database
		</a> 
		under a 
		<a class="d-inline" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			Creative Commons Attribution-ShareAlike 4.0 International License
		</a>. 
	</small>
</footer>
